<DOCTYPE html>
    <html>
    <head>
           <meta charaset="utf-8" />
           <meta name="viewport" cheraste="width=device-width,intial-scale-1.0 />"
           <title>Layouts</title>
           <link rel="stylesheet" href="layouts.css">
    </head>
    <body>
    
            <!--layouts: flex&Grid-->

        <div class="container">


        <div class="card one">
           <img src="https://pbs.twimg.com/media/E3YTlIdUcAIgP7W.jpg" alt="jr ntr flag" />
           <h1>Jr NTR falg</h1>
           <p>Hyderabad: Shouts of "Jai NTR" and "Jai Jai NTR" rent the air as hordes of fans of actor Jr NTR gave the star a rousing welcome at the RGI airport on his arrival on Wednesday after taking part in the Oscar awards ceremony.</p>
           <button type="button">Explormore</button>
        </div>
    
          
        <div class="card two">
                 <img src="https://media.tenor.com/Zp_OW02tjaQAAAAd/ntr-nfans.gif" alt="jr ntr">
               <h1>Jr NTR</h1>
               <p>Nandamuri Taraka Rama Rao Jr., also known as Jr. N.T.R. or Tarak, is an Indian actor who primarily works in Telugu cinema. One of the highest paid Telugu film actors, Rama Rao Jr. has won several accolades, including two Filmfare Awards, two state Nandi Awards, and four CineMAA Awards.</p>
               <button type="button">Explormore</button>
        </div>
          
        <div class="card three">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/177/464/desktop-wallpaper-all-india-gallery-sr-ntr-as-krishna-sr-ntr.jpg" alt="sr ntr" />
            <h1>Sr NTR</h1>
            <p>Nandamuri Taraka Rama Rao28 May 1923 to 18 January 1996,[1] often referred to by his initials NTR, was an Indian actor, filmmaker and politician who served as Chief Minister of Andhra Pradesh for seven years over three terms. He starred in over 300 films, predominantly in Telugu cinema, and was referred by the media as Viswa Vikhyatha Nata Sarvabhouma (transl. Universally-renowned star of acting).</p>
            <button type="button">Exploremore</button>
        </div>
     </div>
    </body>
    </html>