.card{
    width: 400px;
    border:2px solid green ;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;

}
.card img{
    width: 100px;
    height: 200px;
    max-height: auto;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 8px;

}
.card button{
    background-color: aliceblue;
    color: black;
    padding: 8px,16px;
    border-color: brown;
    border-radius: 5px;

}
.container{
    display: flex;
}
button:hover{
    color: brown;
    border: 2px solid green;
    border-radius: 2px;
    background-color: tomato;
}