.container{
    width: 1200px;
    height: 580px;
    border: 6px solid #000000;
    position: relative;
    background-color: #ffff00;
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid #ff0000;
    background-color: #18eb18;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    animation-name: Sainath;
    animation-direction: normal;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}


@keyframes Sainath {
    0%{
        top: 0px;
        left: 0px;
    }
    25%{
        left: 0px;
        top: 430px;
    }
    50%{
        left: 1050px;
        top: 430px;
    }
    75%{
        left: 1050px;
        top: 0px;
    }
    100%{
        left: 0px;
        top: 0px;
    }

}


